node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
src/routes/event/about/+page.svelte
src/routes/event/about/\[id]/+page.ts
src/routes/event/about/\[id]/+page.svelte
src/components/Map.svelte
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
